body {
  background-image: url('../public/ce4cb34bad0705e27315bb0286957b96.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Teachers', sans-serif;
}

.upload-container {
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 12px;
  color: #ffffff;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.upload-title {
  font-size: 2rem;
  color: #00b894;
  margin-bottom: 1.5rem;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.upload-label {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.upload-select,
.upload-input,
.upload-file {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #aab0c6;
  background: rgba(58, 58, 58, 0.8);
  color: white;
  margin-top: 5px;
}

.upload-file {
  border: none;
}

.upload-btn {
  margin-top: 10px;
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  transition: background 0.3s ease;
  background: #00b894;
  color: white;
}

.upload-btn:hover {
  background: #008374;
}

.message {
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  text-align: center;
}

.success-message {
  background: #4caf50;
  color: white;
}

.error-message {
  background: #ff4d4d;
  color: white;
}
